.big-post {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 2px solid black;
  border-radius: 4px;
  width: 396px;
  background-color: #FCF5EC;
}

.big-post > img {
  border-radius: 4px;
}

.info_text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 12px;
}

.small-post {
  display: flex;
  flex-direction: column;
  margin: 16px;
  height: 142px;
  flex-wrap: wrap;
  width: 460px;
}

.category {
  display: flex;
  justify-content: center;
  width: fit-content;
  color: white;
  background-color: black;
  border-radius: 16px;
  padding: 4px 8px;
  font-size: 12px;
}

.duration {
  display: flex;
  padding-left: 8px;
  color: var(--secondary-text-color);
  font-size: 12px;
}

h2 {
  font-weight: 600;
  margin-left: 12px;
}

h2.big {
  font-size: 24px;
}

h2.small {
  font-size: 14px;
}

.img_author {
  border: white;
  border-radius: 50%;
  outline: 1px solid black;
  outline-offset: 2px;
}

.info_author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 16px;
  width: 200px;
}

.info_author div {
  padding-left: 16px;
}

.name_author {
  font-weight: 600;
  font-size: 16px;
}

.date_post {
  font-size: 12px;
  color: var(--secondary-text-color)
}