.content main {
  min-height: 800px;
  max-width: var(--content-width);
  padding-bottom: 24px;
  background: linear-gradient(to bottom left, #F9EEDF, #FCF5EC);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.highlighted {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content section {
  background-color: #FFFFFF;
  padding: 8px;
}

@media (min-width: 800px) {
  .content {
    margin: 60px;
  }

  .content main, .content section {
    padding: 0 36px 24px 36px;
  }
}