.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  width: calc(var(--content-width) - 4*24px);
}

.logo {
  visibility: hidden;
  width: 150px;
  height: 72px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button_blog_small {
  border: 2px solid black;
  font-size: smaller;
  height: fit-content;
  width: fit-content;
  background-color: lightgray;
  border-radius: 4px;
}

.header nav a {
  text-align: center;
  margin: 8px;
}

.button_subscribe {
  background-color: var(--button-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

@media (min-width: 900px) {
  .logo {
    visibility: visible;
  }

  .header {
    flex-direction: row ;
  }
}